.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(13, 99, 109);
  color: white;
  padding: 20px;
  border-radius: 10px;
  
}

p{
  font-family: monospace;
  font-size: larger;
  font-weight: 600;
  
}

